<!DOCTYPE html>
<html>
<head>
  <title>SmartyNight</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  

 
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name+"_"+action_name %>">
 
 
 <% if current_page?(root_path) %>
    <%= render 'shared/header' %>	
<% else %>
    <%= render 'shared/header_vo_loggedin' %>
<% end %>
  
     
 <div class="container-fluid">
 	<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= yield %>
 </div> <!-- /container -->
 <%= render 'shared/footer'%>
 
   
    <!-- SIGNUP POPUP -->
  
  <div class="modal fade popup" id="signup_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog signup_popup" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Sign Up</h1>
        <h2>User Type</h2>
        <div class="usertype">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#partygoer_signup" aria-controls="partygoer_signup" role="tab" data-toggle="tab">Party Goer</a></li>
            <li class="divider">|</li>
            <li role="presentation"><a href="#venueowner_signup" aria-controls="venueowner_signup" role="tab" data-toggle="tab">Venue Owner</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="partygoer_signup">
            <div class="fb_loginbtn"> <a href="#">Log In with Facebook</a> </div>
            <div class="or">OR</div>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Gender">
                <span class="optionaltext">Optional</span>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Age Group">
                <span class="optionaltext">Optional</span>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email*" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <p> By clicking Sign Up you agree to SamrtyNight's <a href="./legal">Terms of Service</a> and <a href="./legal">Privacy Policy</a>. </p>
              <button type="submit" class="popupbtn" value="Sign Up">Sign Up</button>
              <p> Already a SmartyNight Member?<br>
                <a data-toggle="modal" data-target="#login_popup" href="#">LogIn</a> </p>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="venueowner_signup">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name of Venue*">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Type of venue*">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Venue street address*">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="City*" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Zip-code*">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Venue phone number*">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email*">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password*">
              </div>
              <p> By clicking Sign Up you agree to SamrtyNight's <a href="./legal">Terms of Service</a> and <a href="./legal">Privacy Policy</a>. </p>
              <button type="submit" class="popupbtn" value="Sign Up">Sign Up</button>
              <p> Already a SmartyNight Member?<br>
                <a data-toggle="modal" data-target="#login_popup" href="#">LogIn</a> </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <!-- LOGIN POPUP -->
  
  <div class="modal fade popup" id="login_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog login_popup" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Log In</h1>
        <h2>User Type</h2>
        <div class="usertype">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#partygoer_login" aria-controls="partygoer_login" role="tab" data-toggle="tab">Party Goer</a></li>
            <li class="divider">|</li>
            <li role="presentation"><a href="#venueowner_login" aria-controls="venueowner_login" role="tab" data-toggle="tab">Venue Owner</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="partygoer_login">
		  <div class="fb_loginbtn"> <a href="#">Log In with Facebook</a> </div>
            <div class="or">OR</div>
            <form>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email*" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group clearfix">
                <div class="rememberme">
                  <label>
                    <input type="checkbox" name="" value="">
                    <span>Remember Me</span>
                  </label>
                </div>
                <div class="forgetpassword"><a data-toggle="modal" data-target="#forgetpw_popup" href="#">Forget Password?</a></div>
              </div>
              <button type="submit" class="popupbtn" value="Sign Up">Log In</button>
              <p> Don't have a Account?<br>
                <a data-toggle="modal" data-target="#signup_popup" href="#">Sign Up</a> </p>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="venueowner_login">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email*" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group clearfix">
                <div class="rememberme">
                  <label>
                    <input type="checkbox" name="" value="">
                    <span>Remember Me</span>
                  </label>
                </div>
                <div class="forgetpassword"><a data-toggle="modal" data-target="#forgetpw_popup" href="#">Forget Password?</a></div>
              </div>
              <button type="submit" class="popupbtn" value="Sign Up">Log In</button>
              <p> Don't have a Account?<br>
                <a data-toggle="modal" data-target="#signup_popup" href="#">Sign Up</a> </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- FORGET PASSWORD POPUP -->
  
  <div class="modal fade popup" id="forgetpw_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog forgetpw_popup" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>Forgot Password?</h1>
          <p>No woories. Enter your email address below 
to recieve a link  to reset your password.</p> 
<hr>        
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" required>
            </div>
            <button type="submit" class="popupbtn" value="Sign Up" data-toggle="modal" data-target="#resetpw_popup">Obtain Link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- OBTAIN LNK POPUP -->
  
  <div class="modal fade popup" id="resetpw_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog resetpw_popup" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>Reset Password</h1>
                  
          <form>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="New Password" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="New Password Again" required>
            </div>
            <button type="submit" class="popupbtn" data-toggle="modal" data-target="#login_popup" value="Sign Up">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
